<router-outlet></router-outlet>

<section class="CV-button">
    <a mat-fab extended href="assets/Files/CV_AlessandroBonaldo.pdf" > <!-- download="CV_Alessandro_Bonaldo.pdf -->
      <mat-icon>favorite</mat-icon>
      CV
    </a>
</section>
  
<br>

<mat-accordion class="contacts-bar">
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title> Contattami </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="prova">
            <button mat-flat-button (click)="copiaEmail()">bonaldo.bonny.alessandro&#64;gmail.com</button> <!-- &#64; significa @-->
        </p>
        <p class="prova">
            <button mat-flat-button (click)="copiaEmail()">Telefono: +39 non chiamarmi</button>
        </p>
    </mat-expansion-panel>
</mat-accordion>